body {
  margin: 0;
  font-family: "Caveat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  background-color: #111;
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  color: #fcff51;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1em 0;
  margin-bottom: 1em;
}


h1 {
  font-weight: 800;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

#countdown {
  display: flex;
  gap: 1.2em;
  background-color: #0000007a;
  padding: 0.6em;
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.3em #00000099;
}

.time-container {
  text-align: center;
}

.time {
  font-size: 3em;
  font-weight: 700;
}

.label {
  font-size: 1.4em;
  color: #e6e6e6;
}

.timerlabel {
  font-size: 2em;
  margin: 0 0.2em;
}

footer {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Mexico_City_New_Years_2013%21_%288333128248%29.jpg");
  background-repeat: repeat;
  background-size: 100vw;
  background-position-y: -150px;
  text-align: center;
  padding: 3em 0;
  background-color: #000000ab;
}

footer p {
  color: hsl(203, 100%, 2%);
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
}