body {
  margin: 0;
  font-family: "Caveat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  background: linear-gradient(to bottom right, rgba(29,217,255,1), rgba(209,247,255,1)); 
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #000000a8;
  text-align: center;
  padding: 1em 0;
}

h1 {
  font-weight: 800;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

#countdown {
  display: flex;
  gap: 1.2em;
  background-color: #0000007a;
  padding: 0.6em;
  border-radius: 0.5em;
  box-shadow: 0 0.1em 0.3em #00000099;
}

.time-container {
  text-align: center;
}

.time {
  font-size: 3em;
  font-weight: 700;
}

.label {
  font-size: 1.4em;
  color: #e6e6e6;
}

.timerlabel {
  font-size: 2em;
  margin: 0 0.2em;
}

footer {
  text-align: center;
  padding: 0.8em 0;
  background-color: #000000ab;
}

footer p {
  margin: 0;
}